[push]
    remote = origin
[gsync]
    remote = origin
    branch = master
[commit]
    message = n
[remote "origin"]
    url = git@github.com:huangyingw/dloadrc.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
    remote = origin
    merge = refs/heads/master
